.Countdown {
    display: flex;
    margin: 24px 0px;
}

.Countdown-col {
    display: block;
    text-align: center;
    padding: 0px 10px;
}

.Countdown-col div {
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    .Countdown-col div {
        font-size: 30px;
    }
}